<?xml version="1.0" encoding="utf-8"?>
<!--
  Para obter mais informações sobre como configurar seu aplicativo ASP.NET, visite
  https://go.microsoft.com/fwlink/?LinkId=169433
-->
<configuration>
	<system.web>
		<compilation debug="true" targetFramework="4.7.2" />
		<!-- Aumenta o limite de requisição e o tamanho de arquivo (em KB) -->
		<httpRuntime maxRequestLength="51200" targetFramework="4.7.2" />
		<!-- 50MB -->
	</system.web>

	<system.webServer>
		<security>
			<requestFiltering>
				<!-- Aumenta o limite de conteúdo permitido (em Bytes) -->
				<requestLimits maxAllowedContentLength="52428800" />
				<!-- 50MB -->
			</requestFiltering>
		</security>

		<handlers>
			<!-- Configuração para que o IIS saiba como lidar com arquivos .aspx -->
			<add name="ASP.NET" path="*.aspx" verb="*" type="System.Web.UI.PageHandlerFactory" resourceType="Unspecified" />
		</handlers>
	</system.webServer>

	<system.codedom>
		<compilers>
			<compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
			<compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
		</compilers>
	</system.codedom>
</configuration>
